*~
/src/*.c
/src/*.o
/src/.deps/
/src/gnome-gitlab
/src/*.stamp

Makefile
Makefile.in

/libtool
/ABOUT-NLS
/aclocal.m4
/compile
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/m4/
/missing
/ltmain.sh
/stamp-h1

/data/*.valid
/data/*.gschema.xml.in
/data/*.gschema.xml

/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/*.sed
/po/*.header
/po/*.sin
/po/stamp-it
/po/.intltool-merge-cache